.navbar-light .navbar-nav .nav-link{
  color:gray
}
.bg-light{
  background-color: white !important;
  border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: lightgray;
}
.jumbotron{
  background-color: white;
}
.navbar{
  padding: 0.5rem 2rem !important;
}
.list-group-item{
border:none !important;
}