.navbar-light .navbar-nav .nav-link {
  color: gray;
}
.bg-light {
  background-color: white !important;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: lightgray;
}
.jumbotron {
  background-color: white;
}
.navbar {
  padding: 0.5rem 1rem !important;
}
.list-group-item {
  border: none !important;
}

@media (max-width: 600px) {
  .farmerimg {
    margin-top: 100px !important;
  }
  .section {
    margin-left: 40px !important;
  }
}
.farmerimg {
  margin-top: -120px;
}
.section {
  margin-left: 100px;
  padding-top: 40px;
  /* margin-top: 70px !important; */
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
body {
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}
.jumbotron {
  margin-bottom: 0 !important;
}
.btn-link {
  font-weight: 400;
  font-size: 25px;
  color: #f8f9fa;
  text-decoration: none;
}
.btn-link:hover {
  color: #f8f9fa;
  text-decoration: underline;
}
/* 
.MainContainer {
  perspective: 1px;
  transform-style: preserve-3d;
}

.ParallaxContainer {
  display: flex;
  flex: 1 0 auto;
  position: relative;
  z-index: -1;
  transform: translateZ(-1px) scale(2);
} */

.navbar-expand-md .navbar-nav .nav-link {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
}
a:hover {
  color: rgba(0,0,0,.9);
  text-decoration: none;
}
a {
  color: #8c8585;
}