body {
  margin: 0;
  padding: 0;
  font-family: "GT-Sectra-Display",serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: large;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
body{
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}