.container {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: 0;
  margin-left: 0;
}
img {
  /*  To contain the image to the confines of the div  */
  max-width: 100%;
}
.jumbotron {
  padding: 0;
  /* margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: .3rem; */
}
.hero-image {
  max-width: 100%;
  width: -webkit-fill-available;
  margin: auto;
}

.hero-image::after {
  display: block;
  position: relative;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0,
    #313437 100%
  );
  margin-top: -150px;
  background-size: cover;
  height: 150px;
  width: 100%;
  content: "";
}
.title {
  position: absolute;
  width: -webkit-fill-available;
  /* top: 57%; */
  left: 50%;
  transform: translate(-50%, -100%);
  color: white;
  text-align: center;
}

.titleturmeric {
  position: absolute;
  width: -webkit-fill-available;
  /* top: 57%; */
  left: 50%;
  transform: translate(-50%, -92%);
  color: white;
  text-align: center;
}

.btn-link {
  font-size: 20px !important;
}
